<aside class="sidenav" [class.open]="isSidenavOpen" id="sidenav">
    <div class="sidenav-header">
        <h3>Menú Principal</h3>
        <button class="close-btn" aria-label="Cerrar menú" (click)="toggleSidenav()">
            <i class="fas fa-times"></i>
        </button>
    </div>

    <ul class="sidenav-menu">
        <li>
            <a [class.active]="currentPage === 'home'" (click)="showPage('home')">
                <i class="fas fa-home"></i>
                Inicio
            </a>
        </li>
        <li>
            <a [class.active]="currentPage === 'pokemons'" (click)="showPage('pokemons')">
                <i class="fas fa-users"></i>
                Pokemons
            </a>
        </li>

        <li>
            <a [class.active]="currentPage === 'items'" (click)="showPage('items')">
                <i class="fas fa-box"></i>
                Items
            </a>
        </li>

        <li>
            <a [class.active]="currentPage === 'moves'" (click)="showPage('moves')">
                <i class="fas fa-bolt"></i>
                Moves
            </a>
        </li>

        <li>
            <a [class.active]="currentPage === 'types'" (click)="showPage('types')">
                <i class="fas fa-tags"></i>
                Types
            </a>
        </li>

        <li>
            <a [class.active]="currentPage === 'abilities'" (click)="showPage('abilities')">
                <i class="fas fa-star"></i>
                Abilities
            </a>
        </li>
    </ul>
</aside>